#crop {
  position:absolute;
}
.cropcorner{
  z-index: 2 !important;
}

#croprect {
  border: solid 1px light-dark(black,white);
  background-size: 33.33333% 33.33333%;  
  background-image:
    linear-gradient(to right, grey 1.5px, transparent 1px),
    linear-gradient(to bottom, grey 1.5px, transparent 1px);
  
  position:absolute;
  /*top:0px;left:0px;bottom:0px;right:0px;*/
  box-shadow: 0 0 0 9999px light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
    cursor:move;
  
  max-height: 100%;
  max-width: 100%;
}

#croprect div{
  position:absolute;
  width:40px;height:40px;
  border-color: light-dark(black,white);
  border-style: solid;
}
  #croprect #top_left{
    top:0px;left:0px;
    border-width: 3px 0px 0px 3px;
    cursor: nwse-resize;
  }
  #croprect #top_right{
    top:0px;right:0px;
    border-width: 3px 3px 0px 0px;
    cursor: nesw-resize;
  }
  #croprect #bottom_right{
    bottom:0px;right:0px;
    border-width: 0px 3px 3px 0px;
    cursor: nwse-resize;
  }
  #croprect #bottom_left{
    bottom:0px;left:0px;
    border-width: 0px 0px 3px 3px;
    cursor: nesw-resize;
  }
  #croprect #top{
    top:0px;right:calc(50% - 20px);
    border-width: 3px 0px 0px 0px;
    cursor: ns-resize;
  }
  #croprect #bottom{
    bottom:0px;right:calc(50% - 20px);
    border-width: 0px 0px 3px 0px;
    cursor: ns-resize;
  }
  #croprect #left{
    top:calc(50% - 20px);left:0px;
    border-width: 0px 0px 0px 3px;
    cursor: ew-resize;
  }
  #croprect #right{
    top:calc(50% - 20px);right:0px;
    border-width: 0px 3px 0px 0px;
    cursor: ew-resize;
  }