
.container {
  flex:1;
  height:100%;
  width:100%;
  overflow: hidden;

  display:flex;
  flex-direction: row;
  font-size:15px;
}

.editor {
  flex: 1;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
    .editor #zoomable{
      width: 100%;
      height: 99%; /*100% created some artifacts on Safari?!?*/
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .editor #pannable{
      max-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .editor #canvas {
      cursor: move;
    }

.sidebar {
  width:360px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  overflow-y: auto;
} 


.section {
  background-color:light-dark(#e0e0e0,#222222);
  border-radius: 15px;
  padding: 10px;
  margin: 2px 0;
  font-size:14px;
  height: 23px;
  transition: height .3s;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
    .section:hover {
      background-color: light-dark( #ededed, #292929);
    }
    .section b{
      color:gray;
    }
    .section[selected] b{
      color:darkorange;
    }
    .section[selected] {
      background-color: light-dark( #d4d4d4, #292929);
    }
    .section[skipped] {
      opacity: 0.5;
    }

    .section .section_header {
      display:flex;
      justify-content: space-between;
      cursor:pointer;
    }

    .section .section_skip {
      width: 20px;
      color:darkorange;
      cursor:cell;
    }
    .section .section_skip:hover {
      filter: brightness(1.2);
    }

    .section .section_label {
      flex: 1;
      text-align: left;
    }
    .section .skip {
      opacity: 0.2;
      pointer-events: none;
    }

    .rangelabel {
      width:100px;
      text-align:left;
      color:gray;
    }

    .reset_btn{
      font-weight: bold;
    }
    .reset_btn[disabled]{
      font-weight: normal;
    }

.sidebar input[type='range'] {
  appearance: none;
  cursor: pointer;
  border: 0;
  height: 4px;
  padding: 0;
  flex: 1;
  background-color: light-dark(#bbbbbb, #303030);

  
  &#lights_brightness {
      background: linear-gradient(90deg, #242424, #CCCCCC);
  }
  &#lights_exposure {
      background: linear-gradient(90deg, #242424, #CCCCCC);
  }
  &#lights_gamma {
      background: linear-gradient(90deg, #242424, #CCCCCC);
  }
  &#lights_contrast {
      background: linear-gradient(270deg, #242424, #CCCCCC);
  }
  &#lights_shadows {
      background: linear-gradient(270deg, #242424, #CCCCCC);
  }
  &#lights_highlights {
      background: linear-gradient(90deg, #242424, #CCCCCC);
  }
  &#lights_bloom {
      background: linear-gradient(90deg, #242424, #CCCCCC);
  }

  &#colors_temperature {
      background: linear-gradient(90deg, #2c75d3, #ddbc57);
  }
  &#colors_tint {
      background: linear-gradient(to left, rgb(58, 224, 0), rgb(150, 0, 229)); /*linear-gradient(90deg, #d32cca, #57dd67);*/
  }
  &#colors_vibrance {
      background: linear-gradient(90deg, #7f7f7f, #827f7c, #818078, #798378, #6f867f, #69878b, #628a98, #48949b, #2d9d93, #27a57e, #43aa60, #74ac3e, #a8a823, #e0792a, #f8396b, #9900cd);
  }
  &#colors_saturation {
      background: linear-gradient(90deg, #7f7f7f, #827f7c, #818078, #798378, #6f867f, #69878b, #628a98, #48949b, #2d9d93, #27a57e, #43aa60, #74ac3e, #a8a823, #e0792a, #f8396b, #9900cd);
  }
  &#colors_sepia {
      background: linear-gradient(90deg, #242424, #ddbc57);
  }

  &#effects_vignette {
      background: linear-gradient(270deg, #242424, #CCCCCC);
  }


} 

.sidebar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}
.sidebar input[type=range]::-moz-range-thumb {
  background-color: gray;
}

.sidebar input[type=number].rangenumb {
  padding:0px;
  text-align: right;
  width:50px;
  color:gray;
}

/* hide step buttons on Chrome/Safari*/
.sidebar input[type=number]::-webkit-inner-spin-button,
.sidebar input[type=number]::-webkit-outer-spin-button {
    opacity: 0;
}
.sidebar input[type=number]:focus::-webkit-inner-spin-button,
.sidebar input[type=number]:focus::-webkit-outer-spin-button,
.sidebar input[type=number]:hover::-webkit-inner-spin-button,
.sidebar input[type=number]:hover::-webkit-outer-spin-button {
    opacity: 1;
}

.banner {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width:95%;
    max-width: 400px;
    height: 200px;
    margin: 15px auto;
  }
  .section {
    overflow: unset;
    transition: unset;
  }
}




