
html {
  overscroll-behavior: none;
  overflow: hidden;
}
body {
  margin: 0;
  user-select: none;
  -webkit-user-select: none; 
}
#root {
  height: 100vh;
}
a {
  text-decoration: none;
  padding: 1px;
  color: inherit;
  cursor: pointer;
}
a:visited { color:inherit; }
a[disabled] { color:grey; }

button, .btn {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  /*line-height: 40px;*/
  height: 40px;
  margin: 5px;
  width: 150px;
  opacity: 0.8;
}
  button[selected]{
    border-color:#ff8c0080;
    opacity: 1;
  }
  button:focus{
    /*border-color:rgba(255, 140, 0, 0.7) !important;*/
    opacity: 1;
  }

a:hover, button:hover, .btn:hover {
  outline:none;
  border-color: rgba(255, 140, 0, 0.6);
}

input, select{
  appearance: none;
  outline: none;
  border-style:solid;
  border-radius:7px;
  border-width:1px;
  border-color:transparent;
  padding: 5px;
  background: transparent;
  opacity: 0.8;
}
    input:hover, select:hover {
      border-color:rgba(255, 140, 0, 0.6);
      opacity: 1;
    }
    input:focus {
      border-color:rgba(255, 140, 0, 0.7) !important;
      opacity: 1;
    }

    select {
      background-image: url(./assets/ui_downarrow.svg);
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: calc(100% - .35em) center;
      cursor: pointer;
    }


.hidden {
  display: none !important;
}

.noscrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;  
}
.noscrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.alert-message{
  color: light-dark(rgba(0, 0, 0, 0.87),rgba(255, 255, 255, 0.87));
  background-color: light-dark(#e0e0e0,#191919);    
}



:root {
  font-family: -apple-system, system-ui;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --sat:env(safe-area-inset-top);
  --sar:env(safe-area-inset-right);
  --sal:env(safe-area-inset-left);
  --sab:env(safe-area-inset-bottom);

  color-scheme: light dark;
}

/**************************************************/
/****************** COLOR SCHEME ******************/
/**************************************************/

#root {
  color: light-dark(#213547,rgba(255, 255, 255, 0.87));
  background-color: light-dark(#ffffff,#191919);
}
  
button, .btn {
  background-color: light-dark(#b6b5b5,#353535);
  color:white;
}
button:disabled, .btn:disabled {
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    fill:grey !important;

}

input, select {
  background-color: light-dark(#edecec,#303030);
}
input[type='range'] {
  background-color: light-dark(#bbbbbb, #303030);
}
hr {
  border: 1px solid;
  border-color: light-dark(#f0f0f0,#2e2e2e);
}


header {
  background: light-dark(linear-gradient(#fff, #fff0),linear-gradient(#000, #0000));
}
footer {
  background: light-dark(linear-gradient(#fff0, #fff),linear-gradient(#0000, #000));
}

.dark{
  color-scheme: dark;
}
.light{
  color-scheme: light;
}

.alert-message{
  color: light-dark(rgba(0, 0, 0, 0.87),rgba(255, 255, 255, 0.87));
  background-color: light-dark(#e0e0e0,#191919);    
}


.hydra {
  background-color: #ffff00bf;
  border: thin dotted red !important;
}
#shadowroot{display:none;}

#newroot{
  border: solid red thin;
  display: none;
}
#derror {
  background-color: lightcoral;
  white-space: break-spaces;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:5px;
  padding:10px;
  z-index: 99999;
}
